.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: fixed;
    padding: 1rem;
    width: 100%;
    max-width: 1330px;
    z-index: 99;
}

.top span {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .link {
        margin-left: 1rem;
    }
}