.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: fixed;
    padding-top: 1rem;
    width: 68%;
    z-index: 99;
}

.top span {
    cursor: pointer;
}